---
import SigCard from "@/components/SigCard.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getCollection, getEntry, type CollectionEntry } from "astro:content";

const COLLECTION_FOLDER = "signatories";

const title = "Υπογράφοντες";
const sigs = await getCollection(COLLECTION_FOLDER);
const label = `${sigs.length} signatures`;
---

<Base title={title}>
  <PageHeader title={title} />
  <section class="section-sm pb-0">
    <div class="container">
      <div class="row justify-center">
        <span class="notice text-center col-6 lg:col-2 py-1">{label}</span>
      </div>
      <div class="row justify-center">
        {
          sigs.reverse().map((sig) => (
            <div class="mb-14 md:col-6 lg:col-4">
              <SigCard data={sig} />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>
